div, form, img, ul, ol, li, dl, dt, dd, p, tr, td, body, strong, span, pre, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button{
    outline:none;
}

img {
    border: 0px;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

a:hover {
    text-decoration: none;
    background-repeat: no-repeat;
}

a, area {
    blr: expression(this.onFocus=this.blur());
}

.clear-both{
    clear:both
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.left {
    float: left;
    display: inline
}

.right {
    float: right;
    display: inline
}

.clear {
    clear: both
}

.text_center{
    text-align: center !important;
}

.line{
    border-bottom: 1px solid #C8C8C8;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.col-no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-no-padding-left {
    padding-left: 0px !important;
}

.col-no-padding-right {
    padding-right: 0px !important;
}

.col-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.col-padding-left {
    padding-left: 5px !important;
}

.col-padding-right {
    padding-right: 5px !important;
}

.col-padding-right-10 {
    padding-right: 10px !important;
}

.col-padding-left-10 {
    padding-left: 10px !important;
}

.col-padding-right-20 {
    padding-right: 20px !important;
}

body {
    font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3";
    font-size: 14px;
    color: #333;
    line-height: 24px;
    background: #fff;
    width: 100%;
}

.not-weight{
    font-weight: normal !important;
}

.not-found {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-image: url("../image/404.png");
}

.header .navigation {
    height: 35px;
    line-height: 35px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #C8C8C8;
}
.header .navigation a{
    font-size:12px;
    color:#636363;
}
.header .main {
    height: 90px;
    vertical-align: middle;
}
.header .logo {
    margin-top: 15px;
    font-size:28px;
    color:#ff6000;
    display: block;
}
.header .search {
    margin-top: 29px;
    width: 488px;
    height: 34px;
}
.header .search-input {
    float: left;
    width: 400px;
    height: 34px;
    border: 2px solid #ff6000;
}
.header .search-bottom {
    float: left;
    width: 88px;
    height: 34px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    background-color: #ff6000;
}
.header .wagons{
    border:2px solid #d8d8d8;
    width:93px;
    height:34px;
    text-align: center;
    line-height: 30px;
    margin-top: 29px;
    font-size:14px;
    color:#636363;
}

.footer {
    font-size:12px;
    margin-top: 100px;
    background-color: #121212;
}
.footer .footer-title{
    margin-top: 16px;
    font-size:24px;
    color:#ffffff;
    text-align:left;
;
}
.footer h2{
    font-size:14px;
    color:#ffffff;
    letter-spacing:1.17px;
    margin-bottom: 20px;
}

.footer a{
    color: #fff;
}
.footer .line {
    border-top: 1px solid #ffffff;
    margin-bottom: 20px;
}
.footer .copyright {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer .contact {
    position: absolute;
    top: 0px;
    left: 70px;
}
.footer .footer_code img{
    width: 126px;
    height: 126px;
}
.footer .friendly-link{
    text-align: center;
}
.footer .friendly-link li{
    display: inline-block;
    padding:0px 13px;
}
.footer .friendly-link li a{
    color: #fff;
}
.min_width{
    min-width: 1170px
}
/*首页样式*/
.index_banner{
    height:482px;
    width:100%;
    background-image: url("http://static.01homecdn.com/pigimg/20171213/15131315905878452.jpg");
    background-size: cover;
}
.index_banner_box{
    height:482px;
    position: relative;
}
.index_sidebar{
    width: 263px;
    height: 526px;
    background: #f55443;
    position: absolute;
    top: -44px;
    left: 0px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 12px 20px;
}
.index_sidebar_title{
    font-size: 16px;
}
index_sidebar .classified_title{
    font-size: 16px;
}
.index_sidebar_item li a{
    color: #fff;
    font-size: 14px;
}
.index_nav{
    position: absolute;
    top: -36px;
    left: 306px;
}
.index_nav li{
    font-size:16px;
    padding:0px 18px;
    color:#636363;
    cursor:pointer;
}
.index_nav li:hover a{
    color:#ff6000;
}
.index_personal{
    width: 236px;
    height:456px;
    background: #fff;
    position: absolute;
    top: 13px;
    right: 0px;
    padding: 12px;
}
.index_personal .user_image img{
    width:70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    margin: 8px auto 14px auto;
}
.index_personal_text {
    font-size:12px;
    color:#636363;
}
.index_personal_prompt{
    padding-bottom: 22px;
}
.user_login_reg{
    padding-bottom: 20px;
}
.user_login_reg button{
    font-size:12px;
    margin-left: 24px;
    border: none;
    padding: 1px 22px
}

.hover_scale{
    overflow: hidden;
    height: 260px;
}

.hover_scale:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}

.login{
    color:#fff;
    background: #ff6000;
    border: solid 2px #ff6000 !important;
}
.register{
    border: solid 2px #ff6000 !important;
    color: #ff6000;
    background: #fff;
}
.index_notice li{
    padding-top: 16px;
    font-size:12px;
    color:#636363;
    line-height:13px;
}
.index_notice img{
    margin-top: 17px;
    width: 214px;
    height: 129px;
}
.index_title{
    font-size:24px;
    color:#636363;
    padding:25px 0px;
}
.index_pro_name{
    font-size:18px;
    color:#2e2e2e;
    line-height:24px;
}
.item_pro_name{
    font-size:14px;
    color:#2e2e2e;
    line-height:24px;
}
.index_pro_price{
    font-size:14px;
    color:#ff6000;
    line-height:24px;
}
/*特卖专场*/
.index_sale{
    padding:0px !important;
}
.index_sale_left{
    width:576px;
    height: 433px;
    margin-right: 23px;
}
.index_sale_left img{
    width: 576px;
    height: 433px;
}
.index_sale_left_img{
    overflow: hidden;
    width: 576px;
    height: 433px;
}
.index_sale_left_img:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_sale_right{
    width: 571px;
    height: 433px;
}
.index_sale_right .top_item{
    height: 208px;
    margin-bottom: 19px;
    overflow: hidden;
}
.index_sale_right .top_item:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_sale_right .top_item img{
    width: 100%;
    height: 207px;
 }
.index_sale_right .bottom_left_item img{
    width: 100%;
    height: 206px;
}
.index_sale_right .bottom_left_item{
    width: 275px;
    margin-right: 23px;
    height: 206px;
    overflow: hidden;
}
.index_sale_right .bottom_left_item:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_sale_right .bottom_right_item{
    width: 273px;
    height: 206px;
    overflow: hidden;
}

.index_sale_right .bottom_right_item:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_sale_right .bottom_right_item img{
    width: 100%;
    height: 206px;
}
/*首发新品*/
.new_product{
    background: #f2f2f2;
}
.new_product .main_left_img{
    width: 378px;
    background: #fff;
    border: 1px solid #e8e8e8;
}
.new_product .main_left_img_box{
    height: 474px;
    overflow: hidden;
}
.new_product .main_left_img_box:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.new_product .main_left_img img{
    width: 378px;
    height: 474px;
}
.new_product .new_item{
    width: 792px
}
.new_product .new_item li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 18px;
    border: 1px solid #e8e8e8;
    width: 246px
}
.new_product .new_item .img_box{
    overflow: hidden;
    height: 195px;
}
.new_product .new_item .img_box:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.new_product .new_item li img{
    width: 100%;
    height: 195px;
}
.index_explosion .main_img{
    height: 310px;
    overflow: hidden;
}
.index_explosion .main_img:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_explosion .main_img img{
    width: 100%;
    height: 310px;
}
.index_explosion ul li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 10px;
    border: 1px solid #e8e8e8;
    width: 285px;
    height: 340px;
    overflow: hidden;
}
.index_explosion ul li:first-child{
    margin: 0px 0px 18px 0px;
}
.index_explosion ul li .img_box{
    height: 260px;
    overflow: hidden;
}
.index_explosion ul li .img_box:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_explosion ul li img{
    height: 260px;
}
.index_collocation li{
    width: 577px;
    height: 335px;
    background: #fff;
    overflow: hidden;
}
.index_collocation li:hover img{
    transform: scale(1.1);
    opacity: 0.9;
}
.index_collocation li:nth-child(even){
    margin-left: 15px;
}
.collocation_main_li_img{
    overflow: hidden;
    height: 281px;
}
.index_collocation li img{
    width: 585px;
    height: 281px;
}
.index_collocation{
    background: #f2f2f2;
}
.index_collocation_title{
    font-size:14px;
    color:#2e2e2e;
    line-height:24px;
    padding-top:6px;
}
/*导航组件*/
.nav_style{
    font-size:16px;
    color:#ffffff;
    line-height:23px;
    background: #ff6000;
    position: relative;
    margin-bottom: 26px;
}
.nav_style .category{
    position: absolute;
    width: 226px;
    height: 52px;
    display: block;
    background: #ff6000;
    padding: 12px 12px 10px 18px;
    top: -4px;
    -moz-box-shadow: 0px 1px 12px #888888;
    box-shadow: 0px 1px 12px #888888;
}
.nav_style ul{
    margin-left: 268px;
}
.nav_style ul li{
    padding: 10px 20px;
}
.nav_style ul li:hover{
    background: #3c3334;
}
.nav_style ul li a{
    color: #fff;
}
.nav_style ul .on{
    background: #3c3334;
}
/* 找新款 找爆款 */
.all_classify{
    font-size:14px;
    color:#636363;
}
.all_classify .all_item li{
    color: #ff6e15;
    border: 1px solid #e8e8e8;
}
.all_classify .all_item li:hover .glyphicon{
    cursor: pointer;
}
.product_up{
    width:38px;
    height: 38px;
    border: 1px solid #a5a2a2;
    padding: 1px 4px;
    border-radius: 50%;
    color: #a5a2a2;
}
.category_list > ul{
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.category_list > ul > li{
    border-top: 1px solid #e8e8e8;
    color:#636363;
    line-height: 32px
}
.category_list > ul > li:last-child {
    border-bottom: 1px solid #e8e8e8;
}
.category_list > ul > li .item li{
    width: 120px;
    color:#636363;
    border: none !important;
}
.category_list > ul > li .item li:hover{
    cursor:pointer;
}
.category_list > ul > li .item .act{
    background: #ff6000;
    color: #fff;
    padding: 2px 6px;
}
.category_nav{
    border:1px solid #e8e8e8;
}
.category_nav li{
    padding:4px 26px;
}
.category_nav li:hover{
    color: #fff;
    cursor:pointer;
    background: #ff6000;
}
.category_nav .act{
    color: #fff;
    background: #ff6000;
}

.pro_item .main_img img{
    width: 100%;
    height: 310px;
}
.pro_item ul li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 10px;
    border: 1px solid #e8e8e8;
    width: 285px;
    height: 340px;
}
.pro_item ul .one{
    margin: 0px 0px 18px 0px !important;
}
.pro_item ul li img{
    height: 260px;
}
.page .active a{
    color: #fff !important;
    background-color: #ff7d2e;
    border-color: #ff7d2e;
}
.page .active a:hover{
    background-color: #ff7d2e;
    border-color: #ff7d2e;}
.page a{
    color: #636363 !important;
}
/* 商品详情 */
.collocation_main{
    background: #fff;
}
.collocation_main li{
    border: 1px solid #e8e8e8;
}

.commodity_title{
    font-size:16px;
    color:#2e2e2e;
    margin-bottom: 20px;
}
.commodity_main{
    height: 410px;
    box-sizing: border-box;
}
.commodity_main .pro_img{
    width:340px;
}
.commodity_main .pro_img > .main_img img{
    width:340px;
    height: 340px;
}
.commodity_main .pro_img ul{
    margin:0px;
}
.commodity_main .pro_img ul li{
    padding:0px;
    margin-right: 10px;
}
.commodity_main .pro_img ul li:last-child{
    margin-right: 0px;
}
.commodity_main .pro_img ul li img{
    width: 60px;
    height: 60px;
}
.commodity_main .pro_info{
    width:640px;
}
.commodity_main .pro_recommend{
    background: #eee;
    width:157px;
    height: 410px;
}
.commodity_main .pric_info{
    border-top: 1px solid #ee7a30;
    background: #fdf5ed;
    padding:18px 16px;
}
.commodity_main .pric_info > .item {
    font-size: 14px;
}
.commodity_main .pric_info > .item > .name{
    width: 90px;
}
.commodity_main .pric_info > .item > ul li{
    color:#ee7a30;
    width: 150px;
}
.commodity_main .pric_info > .item > ul li b{
    font-weight: normal;
}
.commodity_main .pric_info > .item > ul li span{
    font-size: 28px;
}
.commodity_main .pric_info > .item .batch li{
    font-size:14px;
    color:#2e2e2e;
}
.ware_info{
    padding:0px 16px;
}
.ware_info .proposal_price{
    font-size:14px;
    color:#ff0000;
}
.ware_info > .item > .name{
    width: 90px;
}
.ware_info > .item > .name ul{
    color:#ee7a30;
    width: 150px;
}
.spec_info{
    padding: 20px 16px 0px 16px;
    border-top:1px solid #d8d8d8;
}
.spec_info .name{
    width:106px;
}
.spec_info ul > li{
    width: 100px;
}
.spec_info ul > li:last-child{
    margin-right: 0px !important;
    width: 140px;
}
.spec_info ul > li .num{
    border:1px solid #d8d8d8;
}
.spec_info ul > li input{
    width: 93px;
    text-align: center;
}
.spec_info ul > li .pull{
    padding: 0px 8px;
    cursor:pointer;
    border-right:1px solid #d8d8d8;
}
.spec_info ul > li .push{
    padding: 0px 6px;
    cursor:pointer;
    border-left:1px solid #d8d8d8;
}
.act_button{
    margin-top: 74px;
    padding-top: 25px;
    border-top:1px solid #d8d8d8;
}
.act_button .on{
    background: #ff6000;
    color: #fff;
}
.act_button button{
    background:#fdf5ed;
    border:1px solid #efddc0;
    width:142px;
    height:36px;
    font-size:14px;
    color:#ff6000;
    margin-right: 24px;
}
.act_button button:last-child{
    margin-right: 0px !important;
}
.ad_img{
    margin: 26px 0px;
}
.ad_img img{
    width: 100%;
    height: 112px;
}
.left_vender{
    width: 169px;
    height: 436px;
    background: #eee;
}
.right_pro_info{
    width: 986px;
}
.right_pro_info .tab{
    border:1px solid #e8e8e8;
    height:44px;
    line-height: 42px;
    margin-left: 0px;
    cursor:pointer
}
.right_pro_info .tab .on{
    color:#ff6000;
}
.right_pro_info .image_text img{
    width:100%;
    margin-top: 20px;
}
/* 登陆 */
.login_img img{
    width: 360px;
    height: 360px;
    display: block;
    margin: 0 auto;
}
.login_title{
    width:356px;
    font-size:20px;
    color:#636363;
}
.login_title .on{
    color:#ff6000 !important;
    padding: 0px 4px 10px 4px;
    border-bottom:2px solid #ff6000;
}
.login_from .form-label{
    width: 48px;
    height: 41px;
    background: #eee;
    position: absolute;
    top:0px;
    left:0px;
    padding: 9px 10px 10px 17px;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px;
}
.login_from li{
    width:356px;
    height: 43px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 6px;
}
.input-block{
    height: 41px;
    width: 306px;
    position: absolute;
    top:0px;
    left:48px;
    border-radius: 6px;
}
.login_item {
    width: 356px;
    font-size: 14px;
    color: #000000;
}
.login_item input{
    margin-right: 6px;
    position: relative;
    top:2px;
}
.login_item button{
    background:#ff6000;
    border:1px solid #ff6000;
    border-radius:5px;
    width:350px;
    height:43px;
    font-size:18px;
    color:#ffffff;
}
/* 购物车 */
.not_cart h4{
    font-size:18px;
    color:#2e2e2e;
    line-height:40px;
}
.not_cart .go_purchase{
    background:#ff6000;
    border:2px solid #ff6000;
    width:99px;
    height:34px;
    color: #fff;
}
.not_cart .go_order{
    background:#ffffff;
    border:2px solid #d8d8d8;
    width:99px;
    height:34px;
    color:#2e2e2e;
}
.not_cart .icon_cart{
    padding-right: 60px;
}
.not_cart .icon_cart span{
    width: 150px;
    height: 150px;
    font-size: 150px;
    color: #eee;
}
.cart_name{
    font-size:18px;
    color:#000;
}
.cart_title{
    line-height: 42px;
    height: 42px;
    border:1px solid #d8d8d8;
    color: #636363;
}
.cart_title label{
    font-weight: normal;
}
.cart_title .cart_all{
    position: relative;
    top: 2px;
    margin-right: 4px;
}
.cart_box{
    color:#2e2e2e;
}
.cart_box .cart_item_all{
    position: relative;
    top: 27px;
}
.go_pay{
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    border-left:1px solid #d8d8d8;
    height:61px;
}
.go_pay button{
    color: #fff;
    background:#ff6000;
    font-size:20px;
    padding: 0px 48px;
    height:60px;
    border:none;
}
.go_pay label{
    margin-top: 17px;
    color: #636363;
}
.go_pay .cart_all{
    position: relative;
    top: 2px;
    margin-right: 4px;
}
