div, form, img, ul, ol, li, dl, dt, dd, p, tr, td, body, strong, span, pre, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button{
    outline:none;
}

img {
    border: 0px;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

a:hover {
    text-decoration: none;
    background-repeat: no-repeat;
}

a, area {
    blr: expression(this.onFocus=this.blur());
}

.clear-both{
    clear:both
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.left {
    float: left;
    display: inline
}

.right {
    float: right;
    display: inline
}

.clear {
    clear: both
}

.text_center{
    text-align: center !important;
}

.line{
    border-bottom: 1px solid #C8C8C8;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.col-no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-no-padding-left {
    padding-left: 0px !important;
}

.col-no-padding-right {
    padding-right: 0px !important;
}

.col-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.col-padding-left {
    padding-left: 5px !important;
}

.col-padding-right {
    padding-right: 5px !important;
}

.col-padding-right-10 {
    padding-right: 10px !important;
}

.col-padding-left-10 {
    padding-left: 10px !important;
}

.col-padding-right-20 {
    padding-right: 20px !important;
}

body {
    font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3";
    font-size: 14px;
    color: #333;
    line-height: 24px;
    background: #fff;
    width: 100%;
}

.not-found {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-image: url("../image/404.png");
}

.header .navigation {
    height: 35px;
    line-height: 35px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #C8C8C8;
}
.header .navigation a{
    font-size:12px;
    color:#636363;
}
.header .main {
    height: 90px;
    vertical-align: middle;
}
.header .logo {
    margin-top: 15px;
    font-size:28px;
    color:#ff6000;
    display: block;
}
.header .search {
    margin-top: 29px;
    width: 488px;
    height: 34px;
}
.header .search-input {
    float: left;
    width: 400px;
    height: 34px;
    border: 2px solid #ff6000;
}
.header .search-bottom {
    float: left;
    width: 88px;
    height: 34px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    background-color: #ff6000;
}
.header .wagons{
    border:2px solid #d8d8d8;
    width:93px;
    height:34px;
    text-align: center;
    line-height: 30px;
    margin-top: 29px;
    font-size:14px;
    color:#636363;
}

.footer {
    font-size:12px;
    margin-top: 100px;
    background-color: #121212;
}
.footer .footer-title{
    margin-top: 16px;
    font-size:24px;
    color:#ffffff;
    text-align:left;
;
}
.footer h2{
    font-size:14px;
    color:#ffffff;
    letter-spacing:1.17px;
    margin-bottom: 20px;
}
.footer .line {
    border-top: 1px solid #ffffff;
    margin-bottom: 20px;
}
.footer .copyright {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer .contact {
    position: absolute;
    top: 0px;
    left: 70px;
}
.footer .footer_code img{
    width: 126px;
    height: 126px;
}
.footer .friendly-link{
    text-align: center;
}
.footer .friendly-link li{
    display: inline-block;
    padding:0px 13px;
}
.min_width{
    min-width: 1170px
}
/*首页样式*/
.index_banner{
    height:482px;
    width:100%;
    background-image: url("http://static.01homecdn.com/pigimg/20171213/15131315905878452.jpg");
    background-size: cover;
}
.index_banner_box{
    height:482px;
    position: relative;
}
.index_sidebar{
    width: 263px;
    height: 526px;
    background: #f55443;
    position: absolute;
    top: -44px;
    left: 0px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 12px 20px;
}
.index_sidebar_title{
    font-size: 16px;
}
index_sidebar .classified_title{
    font-size: 16px;
}
.index_sidebar_item li{
    font-size: 14px;
}
.index_nav{
    position: absolute;
    top: -36px;
    left: 306px;
}
.index_nav li{
    font-size:16px;
    padding:0px 18px;
    color:#636363;
    cursor:pointer;
}
.index_nav ul .act{
    color:#ff6000;
}
.index_personal{
    width: 236px;
    height:456px;
    background: #fff;
    position: absolute;
    top: 13px;
    right: 0px;
    padding: 12px;
}
.index_personal .user_image img{
    width:70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    margin: 8px auto 14px auto;
}
.index_personal_text {
    font-size:12px;
    color:#636363;
}
.index_personal_prompt{
    padding-bottom: 22px;
}
.user_login_reg{
    padding-bottom: 20px;
}
.user_login_reg button{
    font-size:12px;
    margin-left: 24px;
    border: none;
    padding: 1px 22px
}
.login{
    color:#fff;
    background: #ff6000;
    border: solid 2px #ff6000 !important;
}
.register{
    border: solid 2px #ff6000 !important;
    color: #ff6000;
    background: #fff;
}
.index_notice li{
    padding-top: 16px;
    font-size:12px;
    color:#636363;
    line-height:13px;
}
.index_notice img{
    margin-top: 17px;
    width: 214px;
    height: 129px;
}
.index_title{
    font-size:24px;
    color:#636363;
    padding:25px 0px;
}
.index_pro_name{
    font-size:18px;
    color:#2e2e2e;
    line-height:24px;
}
.item_pro_name{
    font-size:14px;
    color:#2e2e2e;
    line-height:24px;
}
.index_pro_price{
    font-size:14px;
    color:#ff6000;
    line-height:24px;
}
/*特卖专场*/
.index_sale{
    padding:0px !important;
}
.index_sale_left{
    width:576px;
    height: 433px;
    margin-right: 23px;
}
.index_sale_left img{
    width: 576px;
    height: 433px;
}
.index_sale_right{
    width: 571px;
    height: 433px;
}
.index_sale_right .top_item{
    height: 208px;
    margin-bottom: 19px
}
.index_sale_right .top_item img{
    width: 100%;
    height: 207px;
 }
.index_sale_right .bottom_left_item img{
    width: 100%;
    height: 206px;
}
.index_sale_right .bottom_left_item{
    width: 275px;
    margin-right: 23px;
    height: 206px;
}
.index_sale_right .bottom_right_item{
    width: 273px;
    height: 206px;
}
.index_sale_right .bottom_right_item img{
    width: 100%;
    height: 206px;
}
/*首发新品*/
.new_product{
    background: #f2f2f2;
}
.new_product .main_left_img{
    width: 378px;
    background: #fff;
    border: 1px solid #e8e8e8;
}
.new_product .main_left_img img{
    width: 378px;
    height: 474px;
}
.new_product .new_item{
    width: 792px
}
.new_product .new_item li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 18px;
    border: 1px solid #e8e8e8;
    width: 246px
}
.new_product .new_item li img{
    width: 100%;
    height: 195px;
}
.index_explosion .main_img img{
    width: 100%;
    height: 310px;
}
.index_explosion ul li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 10px;
    border: 1px solid #e8e8e8;
    width: 285px;
    height: 340px;
}
.index_explosion ul li:first-child{
    margin: 0px 0px 18px 0px;
}
.index_explosion ul li img{
    height: 260px;
}
.index_collocation li{
    width: 577px;
    height: 335px;
    background: #fff;
}
.index_collocation li:nth-child(even){
    margin-left: 15px;
}
.index_collocation li img{
    width: 585px;
    height: 281px;
}
.index_collocation{
    background: #f2f2f2;
}
.index_collocation_title{
    font-size:14px;
    color:#2e2e2e;
    line-height:24px;
    padding-top:6px;
}
/*导航组件*/
.nav_style{
    font-size:16px;
    color:#ffffff;
    line-height:23px;
    background: #ff6000;
    position: relative;
    margin-bottom: 32px;
}
.nav_style .category{
    position: absolute;
    width: 226px;
    height: 52px;
    display: block;
    background: #ff6000;
    padding: 12px 12px 10px 18px;
    top: -4px;
    -moz-box-shadow: 0px 1px 12px #888888;
    box-shadow: 0px 1px 12px #888888;
}
.nav_style ul{
    margin-left: 268px;
}
.nav_style ul li{
    padding: 10px 20px;
}
.nav_style ul .on{
    background: #3c3334;
}
/*找新款*/
.all_classify{
    font-size:14px;
    color:#636363;
}
.all_classify .all_item li{
    color: #ff6e15;
    border: 1px solid #e8e8e8;
}
.product_up{
    width:38px;
    height: 38px;
    border: 1px solid #a5a2a2;
    padding: 1px 4px;
    border-radius: 50%;
    color: #a5a2a2;
}
.category_list > ul{
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.category_list > ul > li{
    border-top: 1px solid #e8e8e8;
    color:#636363;
    line-height: 32px
}
.category_list > ul > li:last-child {
    border-bottom: 1px solid #e8e8e8;
}
.category_list > ul > li .item li{
    width: 120px;
    color:#636363;
    border: none !important;
}
.category_list > ul > li .item .act{
    background: #ff6000;
    color: #fff;
    padding: 2px 6px;
}
.category_nav{
    border:1px solid #e8e8e8;
}
.category_nav li{
    padding:4px 26px;
}
.category_nav .act{
    color: #fff;
    background: #ff6000;
}

.pro_item .main_img img{
    width: 100%;
    height: 310px;
}
.pro_item ul li{
    background: #fff;
    font-size: 14px;
    padding-bottom: 16px;
    margin: 0px 0px 18px 10px;
    border: 1px solid #e8e8e8;
    width: 285px;
    height: 340px;
}
.pro_item ul .one{
    margin: 0px 0px 18px 0px !important;
}
.pro_item ul li img{
    height: 260px;
}
.page .active a{
    color: #fff !important;
    background-color: #ff7d2e;
    border-color: #ff7d2e;
}
.page .active a:hover{
    background-color: #ff7d2e;
    border-color: #ff7d2e;}
.page a{
    color: #636363 !important;
}
.collocation_main{
    background: #fff;
}
.collocation_main li{
    border: 1px solid #e8e8e8;
}